@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
  }
  
body::-webkit-scrollbar {
    width: 8px;
    height: 3px; 
}
  
body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #63A0BF;
}

.container {
    width: 85%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
}

#home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background-color: #FFCF10;
}

#imgLogo {
    width: 100px;
}

#imgCupheadAparada {
    width: 100px;
}

.menuNavegacao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuNavegacao ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 0;
}

.menuNavegacao a li {
    color: black;
    font-weight: bold;
    list-style: none;
    padding: 8px 30px;
    background-color: #63A0BF;
    border-radius: 4px;
    box-shadow: -5px 5px #000000;
    position: relative;
}

.menuNavegacao a {
    text-decoration: none;
}

.menuNavegacao li::before {
    content: '';
    background-image: url(../assets/img/linhaBranca.svg);
    position: absolute;
    background-size: cover;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 20px;
}

.imgBotaoRanking {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}


.botaoRanking { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #EF94B5;
    border-radius: 4px;
    box-shadow: -3px 6px 8px  #e97ea5;
    position: relative;
}

.botaoRanking h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 800;
}

.botaoRanking::before {
    content: '';
    background-image: url(../assets/img/linhaBranca.svg);
    position: absolute;
    background-size: cover;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 20px;
}

.conteudoHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imgTituloCuphead {
    width: 820px;
}

#historia {
    background-color: rgb(255, 207, 16, 0.44);
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.alternada {
    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.conteudoHistoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.retanguloBranco {
    background-image: url(../assets/img/retanguloBranco.svg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    width: 92%;
    height: 75%;
    position: relative;
}

.retanguloBranco::before {
    content: '';
    background-image: url(../assets/img/simboloOuro.svg);
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 70px;
    height: 100px;
}



.textoHistoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 70%;
}

.textoHistoria h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.textoHistoria p {
    font-size: 20px;
    line-height: 40px;
}

#imgCartaHistoria {
    width: 400px;
}

#galeria {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#galeria::before {
    content: '';
    background-image: url(../assets/img/cupheadMugmanCorda.svg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 80px;
    height: 350px;
    width: 160px;
}

#galeria .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.conteudoGaleria {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.conteudoGaleria h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.imagensJogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
}

.imagemGaleria {
    width: 700px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.imagemGaleria:hover {
    box-shadow: -8px 8px #63A0BF;
    transition: 200ms
}

.corridaCuphead {
    display: flex;
    justify-self: flex-end;
    width: 85%;
    height: 90px;
}

.conteudoCorrida {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#novidades {
    background-image: url(../assets/img/fundoPapel.svg);
    background-size: cover;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#novidades .container {
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plataformasBaixar {
    height: 20%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plataformasBaixar h4 {
    color: #433750;
    font-size: 20px;
    margin-bottom: 40px;
}

.ordemPlataformas {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textoNovidades {
    width: 43%;
}

.textoNovidades h3{
    font-size: 60px;
    color: #433750;
    margin-bottom: 20px;
}

.textoNovidades p{
    font-size: 23px;
    color: #433750;
    line-height: 40px;
}

#criadores {
    background-color: #FF3B01;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#criadores .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
}

.textoCriadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.textoCriadores h2{ 
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.textoCriadores p{ 
    font-size: 20px;
    line-height: 50px;
    color: white;
}

.conteudoImagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 85%;
}

.ordemImagemLogo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 30%;
}

.ordemImagemIrmaos {
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: 70%;
}

.imgLogoStudio {
    width: 100px;
}

.imgIrmaosStudio {
    display: flex;
    justify-self: flex-end;
    width: 800px;
}

#sobreMim {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobreMim .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textoSobreMim {
    width: 50%;
}

.textoSobreMim h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.textoSobreMim p {
    font-size: 25px;
    line-height: 60px;
}


#footer {
    background-color: #FFCF10;
    height: 20vh;
    width: 100%;
}

.desenvolvedoraMaoAlinha {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.desenvolvedoraAlinha {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80%;
}

.maoCimaAlinha {
    display: flex;
    height: 18%;
    align-items: flex-end;
    justify-content: center;
}

.imgDesenvolvedora {
    width: 600px;
}

.imgMaoCima {
    width: 80px;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.alinhaFooter {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 20%;
}

.imgLogoFooter {
    width: 120px;
    margin-left: 15px;
}

.navegacaoFooter {
    height: 100px;
}
.navegacaoFooter ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

.navegacaoFooter ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacaoFooter ul li a:hover{
    color: #767676
}

.imagensRedesSociais {
    margin-right: 20px;
    width: 40px;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A0E1C0;
    height: 100vh;
    width: 12vw;
}

.menuLateral a{
    color: black;
    text-decoration: none;
}

.selecionado {
    background-color: white;
}

#imgLogoSistema {
    width: 130px;
    margin: 25px 0 40px 0;
}

.botoesMenu {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

.botao {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.iconMenuLateral {
    width: 50px;
    margin: 0 15px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 88vw;
    height: 100vh;
}

.menuTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
    height: 8vh;
}

.perfil {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-right: 30px;
    cursor: pointer;
}

.perfil summary {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuPerfil {
    height: 100px;
    border-top: none;
    border: 1px solid black;
}

.opcaoMenuPerfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

.opcaoMenuPerfil span{
    font-weight: 500;
}

.corLogout {
    color: #FF0000;
}

#imgIconConfig {
    width: 30px;
    margin: 0 5px 0 10px;
}

.menuTopo a{
    color: black;
    text-decoration: none;
}

#imgLogoTopo {
    width: 150px;
    margin-left: 30px;
}

#imgPessoaTopo {
    width: 30px;
}

#imgSetaTopo {
    width: 20px;
}

#conteudoPrincipal {
    width: 88vw;
    height: 92vh;
}