body {
    display: flex;
}

#conteudoPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoInicioRanking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCF10;
    width: 1046px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

#conteudoPrincipal h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#conteudoPrincipal p {
    font-size: 20px;
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
}

#conteudoPrincipal a {
    color: black;
    text-decoration: none;
}

#imgInicioRanking {
    border-radius: 10px 10px 0 0;
}

.tituloRankingChefoes {
    font-size: 45px;
}


.baseRanking {
    display: flex;
    width: 90%;
    height: 82%;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: -8px 8px 4px #A0E1C0;
}

.listaLateralChefes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: 3px solid black;
}

.listaLateralChefes h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    border-bottom: 2px solid black;
}

.areaOpcoesChefe {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 95%;
    width: 100%;
    border-radius: 0 0 0 15px;
}

.opcaoChefe {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;    
}

.opcaoChefe span{
    margin-left: 15px;
}

.imgOpcaoChefe {
    width: 58px;
    margin: 5px 0 5px 15px;
}

.semBorda {
    border: none;
}

.areaClassificacaoChefe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 85%;
}

.tituloChefe {
    font-size: 45px;
}

.alinhaNumeroChefe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5%;
}

.alinhaNumeroChefe h2 {
        margin-right: 30px;
}

.imgChefeRanking {
    width: 320px;
    height: 320px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.radioButton {
    background-color: #F2F2F2;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(167, 167, 167);
    width: 150px;
    height: 45px;
    border-radius: 20px;
    box-shadow: -2px 2px 2px #cbcbcb;
    cursor: pointer;
}

.areaBotao {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}


.botaoRankingClassificacao {
    font-size: 20px;
    font-weight: 700;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botaoRankingClassificacao:hover {
    border: 2px solid black;
}


.voltar {
    background-color: rgb(203, 15, 17, 0.65);
}

.proximo {
    background-color: rgb(15, 152, 203, 0.65);
}

.subTituloRadioButton {
    font-size: 30px;
}

.rankingChefe{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88vw;
    height: 92vh;
}

.chefeSelecionado {
    background-color: #e6e6e6;
}

#baseTelaTabelaRanking{
    font-weight: 500;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 88vw;
    height: 92vh;
}

.tabelaRanking {
    background-color: rgb(255, 207, 16, 0.35);
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
}

td {
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}

th {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #DB6163;
}

.colunaFoto {
    width: 100px;
}

#baseTelaTabelaRanking h1 {
    font-size: 55px;
}

#baseTelaTabelaRanking p {
    font-size: 20px;
}

.botaotabelaRanking {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.enviar {
    background-color: rgb(38, 192, 13, 0.65);
}

.imgChefeTabela {
    width: 90px;
}

.areaTabela {
    overflow-y: scroll;
    width: 80%;
    height: 70%;
    border: 3px solid black;
    box-shadow: -5px 5px black;
    border-radius: 10px;
}


#fundoModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 40%;
    height: 60%;
    overflow: auto;
    background-color: white;
    border: 8px solid #FFCF10;
    border-radius: 15px;
}

.modal span {
    width: 80%;
    text-align: center;
    font-size: 25px;
    margin: 20px 0 30px 0;
}

.modal img {
    width: 250px;
}